body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(236, 229, 253);
}

#overlay {
    background-image: linear-gradient(144deg, 
    rgb(218, 233, 233), rgb(75, 61, 156));
}

header {
    display: flex;
    justify-content: center;    
    margin: 0px 20px;
    text-shadow: 0 0 3px white, 0 0 5px rgb(255, 220, 252);
}

header img {
    height: 100px;
    padding-left: 20px;
}

#center {
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid grey;
    background-color: rgb(236, 229, 253);
}

sidebar {
    width: 200px;
    border: 1px solid grey;
    border-bottom: 0px;
    border-top: 0px;
}

#sidebar-header  {    
    padding-top: 25px;       
    display: flex;  
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
}

sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
}

sidebar li {
    border-top: 1px solid grey;
    display: flex;
    text-align: center;
    padding: 5px;
}

sidebar a:link, sidebar a:visited {
    background-color: inherit;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

sidebar a:hover, sidebar a:active {
    background-color: grey;
}

#sidebar_selected_item {
    background-color: rgb(255, 220, 252);
}

main {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px;
    text-align: justify;    
}

main img {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    border: 2px solid grey;
    border-left: 0px;
    border-right: 0px;
}

main ul {
    list-style-type: disc;
}

main video {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 25px;
    border: 2px solid gray;
}

main table {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid grey;
}

main table caption {
    font-weight: bold;
    padding-bottom: 20px;
}

thead td {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 220, 252, 1));
    border: 2px solid grey;
}

thead td:first-child {
    background: white;
    border: 2px solid grey;
}

tbody td {
    background-color: rgb(255, 220, 252);
    border: 2px solid grey;
}

tbody td:first-child {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 220, 252, 1));
    border: 2px solid grey;
}

footer {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 10px;
    margin: 0px;
    background-color: rgb(225, 124, 170);
}
